@import 'base';

/* ----- BASE COLORS ----- */
@orange-logo:hsl(19, 82%, 55%);
@orange-1:hsl(19, 100%, 50%);
@orange-2:hsl(19, 100%, 48%);
@orange-3:hsl(19, 100%, 45%);
@orange-4:hsla(19, 100%, 50%, 0.75);
@orange-5:hsl(19, 100%, 60%);
@orange-6:hsl(19, 100%, 65%);

@red-1: rgb(222, 0, 0);
@red-2: rgb(198, 0, 0);

@blue-1: rgb(8, 8, 128);
@blue-2: rgb(63, 63, 255);
@blue-3: rgba(63, 63, 255, 0.69);

/* -------------------- CONTAINER --------------------*/

body{
     background-color: @white-10;
}

@media (max-width:480px){.myContainer{.lateral-margin(98%);}}
@media (min-width:481px){.myContainer{.lateral-margin(90%);}}
@media (min-width:650px){.myContainer{.lateral-margin(80%);}}
@media (min-width:768px){.myContainer{.lateral-margin(75%);}}
@media (min-width:1024px){.myContainer{.lateral-margin(70%);}}
@media (min-width:1350px){.myContainer{.lateral-margin(90%);}}

.my-content:extend(.full-container) {
    padding:0;
    
    @media(max-width:480px){padding:0 2% 0 2%;}
    
    h1{
        margin:2% 0 0.5% 0;
        font-size: 1.5em;
        
        @media(max-width:480px){ 
            margin:5% 0 2% 0;
            font-size: 1.4em;
        }
    }
}

/* -- FORMULARIOS --*/
form{
    
    //LABEL
    label{
        width: 100%;
        clear: both;
    }
    
    // INPUT
    input.form-control{
        height: 40px;
        padding: 4px 10px;
    }
    
    input.com_opcoes{
        border-radius: 4px 0 0 4px;
        border-width:1px 0 1px 1px;
    }
    
    input.input_validacao:focus{
        border-color: orange;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 2px 2px inset, rgba(233, 208, 102, 0.67) 0px 0px 10px;
        background-color: rgba(255, 165, 0, 0.10);
    }

    .input-sucesso{
        border-color:rgb(85, 216, 87);
        background-color: rgba(96, 190, 98, 0.10);
    }

    .input-sucesso:hover{
        border-color:rgb(85, 216, 87);
        box-shadow: rgba(0, 0, 0, 0.075) 0px 2px 2px inset, rgba(102, 233, 122, 0.67) 0px 0px 10px;
        background-color: rgba(96, 190, 98, 0.10);
    }

    .input-erro{
        border-color:rgb(216, 85, 85);
        background-color: rgba(190, 96, 96, 0.1);
    }

    .input-erro:hover{
        border-color:rgb(216, 85, 85);
        box-shadow: rgba(0, 0, 0, 0.075) 0px 2px 2px inset, rgba(233, 102, 102, 0.67) 0px 0px 10px;
        background-color: rgba(190, 96, 96, 0.1);
    }  
    
    //INPUT OPTIONS   
    .input-options{
        .float-config(right,auto);
        display: table;
        
        padding:2px 0 2px 5px;       
        height: 40px;
        
        border-radius:0 4px 4px 0;
        background-color: @white-9;
        border:solid 1px @white-6;
        
        // ----- ICONES -----
        .only_onFocus{
            display: none;
        }

        img.input-icon{
            max-width: @largura-icon;
            max-height: @altura-icon;
        }
        
        .hover_opacity{
            opacity: 0.4;
        }
        
        .hover_opacity:hover{
            opacity: 0.8;
        }
        
        
        @altura-icon: 20px;
        @largura-icon: 20px;
        @largura-icon-img: 18px;
        
        .input-status{
            
            .float-config(left,auto);
            padding:0 5px 0 0; 
            
            .input-status-icon{
                display: none;               
            }
            
            img{
                margin-top: 12px;
                width: 12px;
            }
            
            img.input-obrigatorio{
                cursor: pointer;
            }
            
            img.input-naoObrigatorio{
                width: 12px;
                opacity: 0.5;
                padding:2px;
            }

            img.icon-erro{
                cursor: pointer;
            }
            
            img.icon-correto{

            }
            
        }
        
        .input-extra{
            
            .float-config(left,auto);
            padding: 0 0 0 5px;
            border-width: 0 0 0 1px;
            border-style: solid;
            border-color: @white-6;
            height: 32px;
            
            .icon-extra{
                
                margin: 7px 2px 0 0;
                width: @largura-icon;
                height: @altura-icon;           
                float: left;
                text-align: center;
                
                img{
                    margin-top: 0;
                    max-width: @largura-icon;
                    max-height:@largura-icon-img;
                    cursor: pointer;
                }
            }
            
        }
         
        //EXTRA
        
                
                /*img.input-status-icon,.icon_onfocus{
                    display: none;
                }

                img.icon-info{
                    margin-top: 6px;
                    width: 12px;
                }

                img.only_hover{
                    opacity: 0.4;
                    cursor: pointer;
                }

                img.only_hover:hover{
                    opacity: 0.8;
                }*/
                
            
  
    }

    
    
    //TOOLTIP
    .input-info{
        color: @white-10;
    }
    .tooltip-inner{
        border:solid 1px @black-1;
        background-color: @black-1;
    }
    
    .tooltip-top{
        margin-top: -10px;
    }
    
    //VALIDACOES
    .input-options_validacao_pendente{
        
        border-color: orange;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 2px 2px inset, rgba(233, 208, 102, 0.67) 0px 0px 10px;
        background-color: rgba(255, 165, 0, 0.3);
           
    }
    
    .input-options_validacao_sucesso{
        
        border-color:rgb(85, 216, 87);
        box-shadow: rgba(0, 0, 0, 0.075) 0px 2px 2px inset, rgba(102, 233, 122, 0.67) 0px 0px 10px;
        background-color: rgba(96, 190, 98, 0.3);
           
    }
    
    .input-options_validacao_erro{
        
        border-color:rgb(216, 85, 85);
        box-shadow: rgba(0, 0, 0, 0.075) 0px 2px 2px inset, rgba(233, 102, 102, 0.67) 0px 0px 10px;
        background-color: rgba(190, 96, 96, 0.3);
           
    }
}


/* -------- Content Site -------- */




.home{ 
   
    .myContainer{  
        
        form{
        
            .Codigo{
            
                display: table;
            
                input#Codigo{
                    .float-config(left,71.3%);
                }
                
                .input-options{
                    
                    
                    .icon-codigo-automatico{
                        /*margin-top: 8px;
                        width: 25px;*/
                    }
                }
                
            }
        }
        
    }
    
    #mdlCodigosAlternativos{
        
        .modal-dialog{
            width: 25%;
        
            .CodigosAlternativos:extend(.full-container) {

                .codigo_alternativo:extend(.full-container) {
                    margin-bottom: 5px;

                    label{
                        .float-config(left,10%);
                        margin-top: 10px;
                    }

                    input{
                        .float-config(left,82.1%);
                    }
                }

            }
        }
        
    }
    
    
    
}

/* -------- MODAL --------*/
.modal{
    
    .modal-dialog{
        display: table;
    }
    
    .info{
        display: none;
    }
    
    .botoes_modal{
        float: right;
    }
    
}


